pandas==2.3.0
numpy==2.3.1

scikit-learn==1.7.0
scipy==1.16.0

matplotlib==3.10.3
seaborn==0.13.2

fastapi==0.115.12
uvicorn==0.35.0

pydantic==2.11.7
starlette==0.46.1

joblib==1.5.1
threadpoolctl==3.6.0

python-multipart==0.0.20